---
layout: page
---

<h1><font size = "5">About Me</h1>
<p style = "line-height:1;"> <font size = "3">
I am currently pursuing the Ph.D. degree at National Engineering Laboratory for Video Technology, Peking University, advised by Prof. Wen Gao and Prof. Siwei Ma. 
 My research interests include image/video compression, and computer vision.
 I am also interested in painting and photography.
</font></p>

<h1><font size = "5">Education</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; Ph.D. candidate in Computer Science (Sept. 2017 - Present)
<br/>
&ensp; School of Electronics Engineering and Computer Science, Peking University
<br/>

&bull; B.S. in Communication Engineering (Sept. 2013 - Jul. 2017)
<br/>
&ensp; Yingcai Honors College, University of Electronic Science and Technology of China
</font> 
</p>


<h1><font size = "5">Standardization Contributions</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Simplification of ATMVP candidate derivation”, JVET-L0198, Macau, China. (adopted)<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Remove redundancy between TMVP and ATMVP”, JVET-M0345, Marrakech, Morocco.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Non-square compression unit for temporal motion data storage”, JVET-M0346, Marrakech, Morocco.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE2-related: Further simplification of ATMVP collocated block derivation”, JVET-M0526, Marrakech, Morocco.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-1.5: Remove TMVP merge candidate for the specified blocksizes”, JVET-N0212, Geneva, Switzerland. (adopted)<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Remove TMVP merge and AMVP candidate for the specified blocksizes”, JVET-N0213, Geneva, Switzerland. (adopted)<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Simplification for shared merge list and HMVP harmonization process”, JVET-N0486, Geneva, Switzerland.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, Li Zhang, Kai Zhang, Hongbin Liu, Jizhen Xu, Yue Wang, Xiaozhong Xu, Xiang Li, Guichun Li, Shan Liu, “CE8-1.7: Single HMVP table for all CUs inside the shared merge list region for IBC”, JVET-O0078, Gothenburg, Sweden. (adopted)<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Reduce scaling operation number for MMVD”, JVET-O0420, Gothenburg, Sweden.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: On inheritance of half-pel interpolation filter in merge mode”, JVET-P0260, Geneva, Switzerland.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “Simplification of MV derivation for affine chroma”, JVET-Q0324, Brussels, Belgium.<br/>
&bull; Zhao Wang, Xuewei Meng, Chuanmin Jia, Jing Cui, <b>Suhong Wang</b>, Shanshe Wang, Siwei Ma, Weiran Li, Zexiang Miao, Xiaozhen Zheng, “Description of SDR video coding technology proposal by DJI and Peking University”, JVET-J0011, San Diego, California, USA.<br/>
&bull; Xiaozhen Zheng, Xuewei Meng, <b>Suhong Wang</b>, Shanshe Wang, Siwei Ma, “On IBC/ATMVP candidate list construction”, JVET-Q0327, Brussels, Belgium.<br/>

&bull; <b>王苏红</b>，张翔，王苫社，马思伟，“Haar小波变换频域滤波方式”，AVS-M4453，2018.8.<br/>
&bull; <b>王苏红</b>，崔静，王苫社，马思伟，“AVS3系数编码优化”，AVS-M4790，2019.6.<br/>
&bull; <b>王苏红</b>，崔静，王苫社，马思伟，“RDOQ色度分量率失真代价优化”，AVS-M4792，2019.6.<br/>
&bull; <b>王苏红</b>，崔静，王苫社，马思伟，“关于RDOQ中语法元素run_rdoq、level_rdoq的处理建议”，AVS-M4793，2019.6.<br/>
&bull; <b>王苏红</b>，王苫社，马思伟，“DMVR与UMVE技术的融合”，AVS-M4892，2019.8.<br/>
&bull; 雷萌，<b>王苏红</b>，王苫社，马思伟，“SRCC-RDOQ编码端优化建议”，AVS-M5370，2020.6. (adopted) <br/>
&bull; 简云瑞，张嘉琪，<b>王苏红</b>，王苫社，马思伟，“CE 4-1 related : Improvement on CCSAO”，AVS-M5794，2020.10. <br/>
&bull; 简云瑞，张嘉琪，雷萌，<b>王苏红</b>，王苫社，马思伟，“CE 3-1 related : Improvement on CCSAO”，AVS-M6109，2021.02. (adopted)<br/>
&bull; 赵衍琛，<b>王苏红</b>，贾川民，王苫社，马思伟，“一种虚拟参考帧生成方法”，AVS-M7036,2022.3. (进入EE)<br/>
&bull; 赵衍琛，<b>王苏红</b>，雷萌，林凯，贾川民，王苫社，马思伟，“EE：一种虚拟参考帧生成方法”，AVS-M7180,2022.6. (adopted)<br/>
&bull; 赵衍琛，雷萌，<b>王苏红</b>，林凯，贾川民，王苫社，马思伟，“EE-related：基于虚拟参考帧生成EE的帧内预测技术”，AVS-M7184,2022.6. <br/>
&bull; 赵衍琛，<b>王苏红</b>，雷萌，林凯，贾川民，王苫社，马思伟，“基于深度学习的下一代视频编码探索平台”，AVS-M7185，2022.6. <br/>
&bull; 赵衍琛，林凯，<b>王苏红</b>，雷萌，贾川民，王苫社，马思伟，“HPM 13.0-ModAI 9.0性能汇报”，AVS-M7186，2022.6. (adopted) <br/> 
&bull; 孟现东，王诗淇，王苫社，刘东，范晓鹏，梁凡，张健，马思伟，<b>王苏红</b>，傅天亮，张玉槐，雷萌，孟学苇，常峥，“面向内容感知的超高清视频编解码器”，AVS-M7247，2022.6. <br/> 
 </font> 
</p>

<h1><font size = "5">Publications</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; <b>Suhong Wang</b>, Xinfeng Zhang, Shanshe Wang, Siwei Ma and Wen Gao. “Flow-grounded Dynamic Texture Synthesis for Video Compression”, Data Compression Conference (DCC), Snowbird, UT, USA, 2021.<br/>
&bull; <b>Suhong Wang</b>, Xiang Zhang, Shanshe Wang, Siwei Ma and Wen Gao. “Adaptive Wavelet Domain Filter for Versatile Video Coding (VVC)”, Data Compression Conference (DCC), Snowbird, UT, USA, 2019.(oral)<br/>
&bull; <b>Suhong Wang</b>, Xiang Zhang, Shanshe Wang, Siwei Ma and Wen Gao. “Enhanced Motion Vector Prediction for Video Coding”, The Fourth IEEE International Conference on Multimedia Big Data, BigMM2018, Xi’an, China, September 13-16, 2018.<br/>
&bull; <b>Suhong Wang</b>, Chuanmin Jia, Xinfeng Zhang, Shanshe Wang, Siwei Ma and Wen Gao. “A Pixel-level Segmentation-Synthesis Framework for Dynamic Texture Video Compression”, IEEE Trans.Transactions on Circuits and Systems for Video Technology, 2022.<br/>
&bull; Yanchen Zhao, <b>Suhong Wang</b>, Kai Lin, Meng Lei, Chuanmin Jia, Shanshe Wang and Siwei Ma. “Towards Next Generation Video Coding: From Neural Network Based Predictive Coding to In-Loop Filtering”, IEEE Picture Coding Symposium (PCS), 2022. (under review)<br/>
&bull; Jiaqi Zhang, Yunrui Jian, <b>Suhong Wang</b>, Chuanmin Jia, Shanshe Wang, Siwei Ma and Wen Gao. “Textural and Directional Information Based Offset In-loop Filtering in AVS3”, IEEE Transactions on Multimedia, 2022. (Major review)<br/>
&bull; Yunrui Jian, Jiaqi Zhang, Chuanmin Jia, <b>Suhong Wang</b>, Shanshe Wang and Siwei Ma. “Quad-tree Based Sample Refinement Filter for Video Coding”, Data Compression Conference (DCC), Snowbird, UT, USA, 2021.<br/>
&bull; Yunrui Jian, Jiaqi Zhang, Junru Li, <b>Suhong Wang</b>, Song Xu, Siwei Ma and Wen Gao. “Enhanced Cross-Component Sample Adaptive Offset for AVS3”, IEEE International Conference on Visual Communications and Image Processing (VCIP), 2021.<br/>
 </font> 
</p>

<h1><font size = "5">Patents</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; 系数编码、解码方法、电子设备及介质，发明人: 马思伟，<b>王苏红</b>，崔静，王苫社，高文，专利申请号: CN201910817041.2 <b>(已授权)</b><br/>
&bull; 率失真优化量化的方法、编码方法及装置，发明人: 马思伟，<b>王苏红</b>，雷萌，王苫社，高文，专利申请号: CN202010604782.5 <b>(已授权)</b><br/> 
&bull; 一种基于深度神经网络的视频编码方法及装置、介质，发明人: 马思伟，<b>王苏红</b>，张新峰，王苫社，高文，专利申请号: CN202010603341.3 <b>(已授权)</b><br/>
&bull; 视频处理方法和装置，发明人: 郑萧桢，<b>王苏红</b>，马思伟，王苫社，专利申请号: CN201980009017.4 <b>(已授权)</b><br/>
&bull; 视频图像处理方法与装置，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN201980005714.2<b>(已授权)</b><br/>
&bull; 视频图像处理方法与装置，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN201980002813.5  <b>(已授权)</b><br/>
&bull; 视频处理方法和设备，发明人: <b>王苏红</b>，郑萧桢，王苫社，马思伟，专利申请号: CN201980005316.0 <b>(已授权)</b><br/>
&bull; 一种视频图像处理方法、设备及存储介质，发明人: <b>王苏红</b>，郑萧桢，王苫社，马思伟，专利申请号: CN201980004934.3 <b>(已授权)</b><br/>
&bull; 获取视频图像运动矢量的方法与装置，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN201880011514.3 <b>(已授权)</b><br/>
&bull; 编码方法、解码方法、相应的装置、电子设备及存储介质，发明人: 崔静，马思伟，<b>王苏红</b>，专利申请号: CN201910818575.7 <b>(已授权)</b><br/>
&bull; 解码方法、编码方法、相应的装置、电子设备及存储介质，发明人: 崔静，马思伟，<b>王苏红</b>，专利申请号: CN201910817157.6 <b>(已授权)</b><br/>
&bull; 获取视频图像运动矢量的方法与装置，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN202111284624.7<br/>
&bull; 获取视频图像运动矢量的方法与装置，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN202111283215.5<br/>
&bull; 视频处理方法、编码端及解码端，发明人: 郑萧桢，<b>王苏红</b>，马思伟，王苫社，专利申请号: CN202110501154.9<br/>
&bull; 视频处理方法和装置，发明人: 郑萧桢，<b>王苏红</b>，马思伟，王苫社，专利申请号: CN202110897611.0<br/>
&bull; 视频处理方法和设备，发明人: <b>王苏红</b>，郑萧桢，王苫社，马思伟，专利申请号: CN202111241960.3<br/>
&bull; 视频处理方法和装置，发明人: 郑萧桢，<b>王苏红</b>，马思伟，王苫社，专利申请号: CN202110896384.X<br/>
&bull; 视频图像处理方法与装置，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN202111185644.9<br/>
&bull; 视频图像处理方法与装置，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN202111185661.2<br/>
&bull; 一种视频处理方法、视频处理设备及计算机可读存储介质，发明人: 郑萧桢，<b>王苏红</b>，王苫社，马思伟，专利申请号: CN202080005623.1<br/>
&bull; 视频处理的方法与装置，发明人: 马思伟，<b>王苏红</b>，郑萧桢，王苫社，专利申请号: CN201980066718.1<br/>
&bull; 视频处理方法和装置，发明人: 马思伟，<b>王苏红</b>，郑萧桢，王苫社，专利申请号: CN201980009149.7<br/>
&bull; 一种视频处理方法、设备及存储介质，发明人: 郑萧桢，<b>王苏红</b>，马思伟，王苫社，专利申请号: CN201980034157.7<br/>
&bull; 视频处理方法和设备，发明人: 郑萧桢，<b>王苏红</b>，马思伟，王苫社，专利申请号: CN201980004976.7<br/>
&bull; 视频编解码的方法和装置，发明人: 马思伟，<b>王苏红</b>，郑萧桢，王苫社，专利申请号: CN201980050133.0<br/>
&bull; 视频处理方法和装置，发明人: <b>王苏红</b>，郑萧桢，王苫社，马思伟，专利申请号: CN201980004606.3<br/>
&bull; 视频处理方法和装置，发明人：郑萧桢，孟学苇，<b>王苏红</b>，马思伟，王苫社，专利申请号: CN201980009160.3<br/>
&bull; 视频编解码方法、装置和计算机可读存储介质，发明人: 马思伟，<b>王苏红</b>，郑萧桢，王苫社，专利申请号: CN201980034107.9<br/>
&bull; 视频图像处理方法与装置，发明人: <b>王苏红</b>，郑萧桢，王苫社，马思伟，专利申请号: CN201980005736.9<br/>
&bull; 一种图像处理方法、装置及设备，发明人: 简云瑞，张嘉琪，雷萌，<b>王苏红</b>，王苫社，马思伟，贾冠楠，徐丽莉，专利申请号: CN202011409791.5<br/>
</font> 
</p>

<h1><font size = "5">Contact me</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; Email: suhong.wang ATs pku DOTs edu DOTs cn
</font> 
</p>
