---
layout: page
---

<h1><font size = "5">About Me</h1>
<p> <font size = "4">
I am currently pursuing the Ph.D. degree at National Engineering Laboratory for Video Technology, Peking University, advised by Prof. Wen Gao and Prof. Siwei Ma. 
 My research interests include image/video compression, and computer vision.
 I am also interested in painting and photography.
</font></p>

<h1><font size = "5">Education</h1>
<font size = "4" face = "Calibri">
&bull; Ph.D candidate in Computer Science (Sept. 2017 - Present)
<br/>
&ensp; School of Electronics Engineering and Computer Science
<br/>
&ensp; Peking University
<br/>

&bull; B.S. in Communication Engineering (Sept. 2013 - Jul. 2017)
<br/>
&ensp; Yingcai Honors College
<br/>
&ensp; University of Electronic Science and Technology of China
<br/>
</font> 
