---
layout: page
---

<h1><font size = "5">About Me</h1>
<p style = "line-height:1;"> <font size = "3">
I am currently pursuing the Ph.D. degree at National Engineering Laboratory for Video Technology, Peking University, advised by Prof. Wen Gao and Prof. Siwei Ma. 
 My research interests include image/video compression, and computer vision.
 I am also interested in painting and photography.
</font></p>

<h1><font size = "5">Education</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; Ph.D. candidate in Computer Science (Sept. 2017 - Present)
<br/>
&ensp; School of Electronics Engineering and Computer Science, Peking University
<br/>

&bull; B.S. in Communication Engineering (Sept. 2013 - Jul. 2017)
<br/>
&ensp; Yingcai Honors College, University of Electronic Science and Technology of China
</font> 
</p>


<h1><font size = "5">Standardization Contributions</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Simplification of ATMVP candidate derivation”, JVET-L0198, Macau, China.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Remove redundancy between TMVP and ATMVP”, JVET-M0345, Marrakech, Morocco.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Non-square compression unit for temporal motion data storage”, JVET-M0346, Marrakech, Morocco.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE2-related: Further simplification of ATMVP collocated block derivation”, JVET-M0526, Marrakech, Morocco.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-1.5: Remove TMVP merge candidate for the specified blocksizes”, JVET-N0212, Geneva, Switzerland.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Remove TMVP merge and AMVP candidate for the specified blocksizes”, JVET-N0213, Geneva, Switzerland.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Simplification for shared merge list and HMVP harmonization process”, JVET-N0486, Geneva, Switzerland.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, Li Zhang, Kai Zhang, Hongbin Liu, Jizhen Xu, Yue Wang, Xiaozhong Xu, Xiang Li, Guichun Li, Shan Liu, “CE8-1.7: Single HMVP table for all CUs inside the shared merge list region for IBC”, JVET-O0078, Gothenburg, Sweden.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: Reduce scaling operation number for MMVD”, JVET-O0420, Gothenburg, Sweden.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “CE4-related: On inheritance of half-pel interpolation filter in merge mode”, JVET-P0260, Geneva, Switzerland.<br/>
&bull; <b>Suhong Wang</b>, Xiaozhen Zheng, Shanshe Wang, Siwei Ma, “Simplification of MV derivation for affine chroma”, JVET-Q0324, Brussels, Belgium.<br/>
&bull; Zhao Wang, Xuewei Meng, Chuanmin Jia, Jing Cui, <b>Suhong Wang</b>, Shanshe Wang, Siwei Ma, Weiran Li, Zexiang Miao, Xiaozhen Zheng, “Description of SDR video coding technology proposal by DJI and Peking University”, JVET-J0011, San Diego, California, USA.<br/>
&bull; Xiaozhen Zheng, Xuewei Meng, <b>Suhong Wang</b>, Shanshe Wang, Siwei Ma, “On IBC/ATMVP candidate list construction”, JVET-Q0327, Brussels, Belgium.<br/>

&bull; <b>王苏红</b>，张翔，王苫社，马思伟，“Haar小波变换频域滤波方式”，AVS-M4453，2018.8.<br/>
&bull; <b>王苏红</b>，崔静，王苫社，马思伟，“AVS3系数编码优化”，AVS-M4790，2019.6.<br/>
&bull; <b>王苏红</b>，崔静，王苫社，马思伟，“RDOQ色度分量率失真代价优化”，AVS-M4792，2019.6.<br/>
&bull; <b>王苏红</b>，崔静，王苫社，马思伟，“关于RDOQ中语法元素run_rdoq、level_rdoq的处理建议”，AVS-M4793，2019.6.<br/>
&bull; <b>王苏红</b>，王苫社，马思伟，“DMVR与UMVE技术的融合”，AVS-M4892，2019.8.<br/>
&bull; 雷萌，<b>王苏红</b>,王苫社，马思伟，“SRCC-RDOQ编码端优化建议”，AVS-M5370，2020.6.<br/>
&bull; 简云瑞，张嘉琪，<b>王苏红</b>，王苫社，马思伟，“CE 4-1 related : Improvement on CCSAO”，AVS-M5794，2020.10.<br/>
&bull; 简云瑞，张嘉琪，雷萌，<b>王苏红</b>，王苫社，马思伟，“CE 3-1 related : Improvement on CCSAO”，AVS-M6109，2021.02.<br/>

</font> 
</p>

<h1><font size = "5">Publications</h1>
<p style = "line-height:1;"> <font size = "3">
&bull; <b>Suhong Wang</b>, Xinfeng Zhang, Shanshe Wang, Siwei Ma, and Wen Gao. “Flow-grounded Dynamic Texture Synthesis for Video Compression”, Data Compression Conference (DCC), Snowbird, UT, USA, 2021.<br/>
&bull; <b>Suhong Wang</b>, Xiang Zhang, Shanshe Wang, Siwei Ma, and Wen Gao. “Adaptive Wavelet Domain Filter for Versatile Video Coding (VVC)”, Data Compression Conference (DCC), Snowbird, UT, USA, 2019.(oral)<br/>
&bull; <b>Suhong Wang</b>, Xiang Zhang, Shanshe Wang, Siwei Ma, and Wen Gao. “Enhanced Motion Vector Prediction for Video Coding”, The Fourth IEEE International Conference on Multimedia Big Data, BigMM2018, Xi’an, China, September 13-16, 2018.<br/>
&bull; <b>Suhong Wang</b>, Chuanmin Jia, Xinfeng Zhang, Shanshe Wang, Siwei Ma, and Wen Gao. “A Pixel-level Segmentation-Synthesis Framework for Dynamic Texture Video Compression”, IEEE Trans. on Image Processing (under review), 2021.<br/>
&bull; Yunrui Jian, Jiaqi Zhang, Chuanmin Jia, <b>Suhong Wang</b>, Shanshe Wang, Siwei Ma. “Quad-tree Based Sample Refinement Filter for Video Coding”, Data Compression Conference (DCC), Snowbird, UT, USA, 2021.<br/>
&bull; Yunrui Jian, Jiaqi Zhang, Junru Li, <b>Suhong Wang</b>, Song Xu, Siwei Ma, and Wen Gao. “Enhanced Cross-Component Sample Adaptive Offset for AVS3”, IEEE International Conference on Image Processing (ICIP)(under review), 2021.<br/>
</font> 
</p>

<h1><font size = "5">Patents</h1>
<p style = "line-height:1;"> <font size = "3">

</font> 
</p>
